body{
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px;
    
    }
 table {font-size: .7em; border-spacing: 0.5rem;}
 th {text-align: left; font_size: .7em;}
 tr {font_size: .7em;}
  .entry {font-size: .7em}
  /*.ui-tabs-panel {background-color: grey;}*/
  #tabs3 {background-color: blue}
  .ui-widget-content {border:0px solid black; min-width: 5px; min-height: 5px;  opacity: 1; width: 100%; height:100%}
  .ui_draggable {background-color: red}
    #draggable1 {word-wrap: break-word; width: 100px;}
    #draggable2 {word-wrap: break-word; width: 100px;}
    #draggable3 {word-wrap: break-word; width: 100px;}
    #draggable4 {word-wrap: break-word; width: 100px;}
    #draggable5 {word-wrap: break-word; width: 100px;}
    #draggable6 {word-wrap: break-word; width: 100px;}


